.forum {
    background: rgba(0, 0, 0, 0) url("../images/bg-info-2.jpg") repeat scroll 0 0;
    border: medium none;
    margin-bottom: 30px;
    padding: 28px;

    .submitted {
        color: #cccccc !important;
    }

    table {
        width: 100%;
        margin: {
            bottom: 30px;
        };
    }

    th {
        padding: 7px;
        border-bottom: 2px solid  #555;
        color: #fff;
    }

    td {
        padding: 7px;
    }

    tbody {
        tr {
            background-color: #333;
            border-bottom: 1px solid #555;
        }
    }
}